body {
    background-color: #F5E8E0; 
    font-family: 'Arial', sans-serif; /* Default font family */
    color: #68768b;
  }
  
  header {
    background-color: #A0C5CB;
    padding: 20px;
    text-align: center;
  }

  header img {
    width: 80px;
    height: auto;
    display: block; 
    margin: 20px auto; 
  }

  h1 {
    color: #EBB7BC;
    text-align: center;
  }
  h2 {
    color: #A0C5CB;
  }
  h3{
    color: #F5E8E0;

  }
  
  section {
    margin: 20px;
  }


  p {
    color: #68768b;
  }


  nav a {
    margin: 10px;
    text-decoration: none;
    color: #F5E8E0; 
    transition: color 0.3s ease-in-out;
  }

  nav a:hover {
    color: #EBB7BC;
  }
  /*******FARVER******/
  color1 {
    color: #A0C5CB;
  }
  color2 {
    color: #F8CC9D;
  }
  color3 {
    color: #F5E8E0;
  }
  color4 {
    color: #EBB7BC;
  }
  color5 {
    color: #68768b;
  }

  /***footer**/

  /* ikoner */

.icons_t {
  position: relative;
  font-size: 15px;
  left: 10px;
  margin-bottom: 5%;
}
footer {
  background-color: #68768b;
  padding: 40px;
  text-align: right;
  color: #f5cfb7;
}

footer p{
  color: #aaabac;
}

.facebook img {
  max-width: 30%;
}

.medier {
  margin-left: 40%;
}


.footer-h3 {
  font-size: 20px;
  margin: 2%;
  color: #f7ddc2;
}
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* CSS-styling */
div {
  margin-top: 20px;    /* Øverste margin på 20 pixels */
  margin-bottom: 20px; /* Bundmargin på 20 pixels */
  margin-left: 5%;    /* Venstremargin på 10% af forældreelementets bredde */
  margin-right: 5%;   /* Højremargin på 10% af forældreelementets bredde */
}
