body {
    background-color: #F5E8E0; 
    font-family: 'Arial', sans-serif; /* Default font family */
    color: #68768b;
  }
  
  header {
    background-color: #A0C5CB;
    padding: 20px;
    text-align: center;
  }

  header img {
    width: 80px; /* Justér bredden efter dine behov */
    height: auto; /* Bevar aspect ratio */
    display: block; /* Gør det til et blokelement, så margin og padding fungerer korrekt */
    margin: 20px auto; /* Tilpas margin efter dine behov */
  }

  h1 {
    color: #EBB7BC;
    text-align: center;
  }
  h2 {
    color: #A0C5CB;
  }
  h3{
    color: #F5E8E0;

  }
  
  section {
    margin: 20px;
  }


  p {
    color: #68768b;
  }


  nav a {
    margin: 10px;
    text-decoration: none;
    color: #F5E8E0; 
    transition: color 0.3s ease-in-out;
  }

  nav a:hover {
    color: #EBB7BC;
  }
  /*******FARVER******/
  color1 {
    color: #A0C5CB;
  }
  color2 {
    color: #F8CC9D;
  }
  color3 {
    color: #F5E8E0;
  }
  color4 {
    color: #EBB7BC;
  }
  color5 {
    color: #68768b;
  }

  /***footer**/

  /* ikoner */

.icons_t {
  position: relative;
  font-size: 15px;
  left: 10px;
  margin-bottom: 5%;
}
footer {
  background-color: #F8CC9D;
  padding: 10px;
  text-align: right;
  color: #F5E8E0;
}

.facebook img {
  max-width: 30%;
}
.info {
  margin-left: 5%;
}

.tider {
  margin-left: 20%;
}

.medier {
  margin-left: 30%;
}

p {
  margin: 0;
}

.footer-h3 {
  font-size: 20px;
  margin: 2%;
}
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid_1-8 {
  display: grid;
  grid-template-columns: 1fr 8fr;
}
