img {
    width: 50%;
}

.kollage {
    width: 100vw;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

    .grid-container1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        text-align: justify;
        padding-bottom: 20px;
      }


blockquote {
    border-left: 4px solid #EBB7BC; /* Justér farven efter dine præferencer */
    padding: 10px;
    margin: 10px 0;
    text-align: left;
  }
  